<div class="lg:hidden">
    <div class="relative">
        <img class="relative rounded-xl" ngSrc="{{gameInput().mobileCover}}" width="350" height="100"
            alt="{{gameInput().name}}">
        <mat-icon class="absolute top-4 left-80">{{addIconInput()}}</mat-icon>
        <img class="absolute bottom-32 left-14" ngSrc="{{gameInput().logo}}" width="200" height="5"
            alt="{{gameInput().name}}">
        <h2 class="absolute bottom-20 left-14 text-xs text-white">{{gameInput().bio}}</h2>
    </div>
</div>