<section class="flex flex-col items-center gap-4 w-full animate-pulse lg:flex-row">
    <ng-container *ngFor="let _ of [].constructor(5)">
        <div class="flex flex-col">
            <div class="bg-darkCharcoal w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
    </ng-container>
</section>