@if (highlightGames && homeCaptions && currentGameIndex) {
<app-highlight-game-card [gameInputs]="highlightGames" [currentGameIndexInput]="currentGameIndex"
    [captionInputs]="homeCaptions" />
}
<!-- 
<app-game-card-management [gameCardInputs]="gameCard" />

<app-free-game-card-management [gameInputs]="freeGameCard" [captionInput]="homeCaptions.freeCardCaptions"
    [iconInput]="'redeem'" />

<app-fortnite-card-management [gameInput]="fortniteCard" />

<app-game-list-management [gameInput]="gameListItem" />

<app-game-card-management [gameCardInputs]="gameCard" /> -->