@if (highlightGames && largeHighlightGameCaption && gameCards && freeGameCards && freeGamesCaption &&
freeGameManagementCaption && fortniteGameCards && fortniteCaption && freeGameItemCaption && gameItemCaption &&
categoryItemCaption && categoryListCaption && gameBanners && freeGameListCaption && nonGameBanners && gameListItem) {
<!--  <app-highlight-game-slider-item [gameInputs]="highlightGames" [captionInputs]="largeHighlightGameCaption"/>-->

<!-- <app-game-slider-item-management [gameCardInputs]="gameSliderItemData" [isLoading]="isLoading" /> -->

<!-- <app-home-card [data]="{
  id: '123456',
  cover: '../assets/game-covers/home-card-cover/rl.jpg',
  description: 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet',
  name: 'Example Card',
  hasWishlist: true
}" [isLoading]="isLoading" (clickWishlistButton)="$event" (clickCardEvent)="$event" /> -->

<app-highlight-preview-item [data]="{
    id: '11',
    cover: '../assets/game-covers/highlight-preview-item-cover/egg.jpg',
    logo: '../assets/game-covers/highlight-preview-item-cover/egg2.png',
    description: 'test test est testest testest testest test test test est testest testest testest test test test est testest testest testest test test test est testest testest testest test',
    price: 55,
    highlightButtonType: highlightPrevButtonTypeEnum,
}" [isLoading]="isLoading" [wishlistButtonCaption]="{
    inTitle: 'in wishlist',
    addTitle: 'add to wishlist',
    savedTitle: 'Saved',
      removeTitle: 'Remove'
  }" [highlightButtonTypeCaption]="{
    FREE: 'Play for free',
    NOT_PUBLISHED: 'Wishlist now',
    ARTICLE: 'Save now',
    PUBLISHED: 'Buy now',
  }" [isInWishlist]="false" [wishlistAddProcessing]="true" />

<!-- @for (item of freeGameItem; track $index) {
<app-free-game-item [data]="item" [caption]="freeGameItemCaption" [isLoading]="isLoading" (clickEvent)="$event" />
} -->

<!-- <app-free-game-item [data]="item" [caption]="freeGameItemCaption" [isLoading]="isLoading" (clickEvent)="$event" /> -->
<!-- <app-free-game-list [data]="freeGameList" [isLoading]="isLoading" [gameItemCaption]="freeGameItemCaption"
    [caption]="freeGameListCaption" (clickEvent)="$event" (viewMoreClickEvent)="$event" /> -->
<!--  <app-game-slider-management/>-->

<!--  <app-free-game-slider-item-management [gameInputs]="freeGameCards" [cardCaption]="freeGamesCaption"-->
<!--                                 [managementCaption]="freeGameManagementCaption" [iconInput]="'redeem'"/>-->

<!--  <app-fortnite-card-management [gameInput]="fortniteGameCards" [captionInput]="fortniteCaption"/>-->

<!--  <app-game-banner-management [gameInput]="gameBanners.slice(0, 2)"/>-->

<!--  <app-category-management [data]="categoryManagementData" [categoryListCaption]="categoryListCaption"-->
<!--                           [categoryItemCaption]="categoryItemCaption" [isLoading]="isLoading"/>-->

<!--  <app-game-banner-management [gameInput]="gameBanners.slice(2)"/>-->

<!--  <app-game-banner-management [gameInput]="nonGameBanners"/>-->
}