<!-- TODO add outputs -->

<section class="flex gap-x-4">
    <app-highlight-preview-item *ngFor="let item of highlightPreviewData" [data]="item" [isLoading]="isLoading()"
        [isInWishlist]="isInWishlist()" [isWishlistProcessing]="isWishlistProcessing()"
        [wishlistButtonCaption]="wishlistButtonCaption()" [highlightButtonTypeCaption]="highlightButtonTypeCaption()" />
    <div class="flex flex-col gap-y-2">
        <app-highlight-small-item class="flex-shrink-0" *ngFor="let item of highlightSmallData" [data]="item"
            [isLoading]="isLoading()" [isActive]="isActive()" />
    </div>
</section>