@if (isLoading()) {
<div class="animate-pulse bg-darkCharcoal h-[30rem] w-[30rem] lg:w-[40rem] rounded-2xl">
</div>
} @else {
<section class="font-inter cursor-pointer relative h-full" (click)="onClickItemEventHandler(data().id)">
    @if (buttonTypeEnum.ARTICLE !== data().highlightButtonType) {
    <!-- if input data has wishlist this will be shown to user in mobile size screens -->
    <app-wish-list-icon class="wishlist absolute top-2 right-4 z-10"
        (clickButtonEvent)="onClickWishlistButtonEventHandler(data().id)" [isInWishlist]="isInWishlist()"
        [isWishlistProcessing]="isWishlistProcessing()" />
    }
    <div class="relative aspect-square rounded-2xl h-full overflow-hidden
        after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b after:from-transparent
        after:to-semiTransparent md:after:bg-gradient-to-l md:aspect-auto">
        <img class="rounded-2xl object-cover h-full" [src]="data().cover" [alt]="'game-cover'">
    </div>
    <div class="flex flex-col justify-around absolute bottom-0 left-0 h-2/3 w-full px-6 sm:h-4/5">
        <div class="h-20 w-32">
            <img class="object-cover" [ngSrc]="data().logo" alt="'game-logo'" width="250" height="250" priority>
        </div>
        <div>
            <p class="flex flex-wrap text-sm text-white sm:w-2/5 md:text-md">
                {{data().description}}
            </p>
            <div class="buttons hidden sm:flex sm:gap-x-4 sm:mt-8 sm:z-10">
                <button class="buy-btn font-inter"
                    mat-raised-button>{{highlightButtonTypeCaption()[data().highlightButtonType] | uppercase}}</button>

                @if (buttonTypeEnum.ARTICLE !== data().highlightButtonType) {
                <app-preview-wish-list-button [caption]="wishlistButtonCaption()" [isInWishlist]="isInWishlist()"
                    [isWishlistProcessing]="isWishlistProcessing()"
                    (clickWishlistButtonEvent)="onClickWishlistButtonEventHandler(data().id)">
                </app-preview-wish-list-button>
                }
            </div>
        </div>
    </div>
</section>
}