<div class="flex-col justify-between items-center ml-7 h-128 lg:flex">
    <!-- TODO: move the for loop -->
    @for (game of gameInputs().slice(0, 5); track $index) {
    <div class="flex flex-row gap-2 items-center p-4 rounded-xl cursor-pointer" (click)="selectGameIndex($index)"
        [@cardAnimation]="$index === currentGameIndexInput() ? 'active' : 'inactive'">
        <app-image [imageUrlInput]="game.thumbnailCover" [imageHight]="25" [imageWight]="33" />
        <h1 class="text-lightGray text-sm">{{game.name}}</h1>
    </div>
    }
</div>