@if (gameInputs().isFree) {
<img class="rounded-t-md lg:object-cover" ngSrc="{{gameInputs().cover}}" width="500" height="100"
    alt="{{gameInputs().name}}">
@if (!gameInputs().isPublished) {
<div class="bg-vividBlue text-white text-center py-1 rounded-b-md">{{captionInput().freeNowTitle}}</div>
}
@else if (gameInputs().isPublished) {
<div class="bg-darkGray text-lightGray text-center py-1 rounded-b-md">{{captionInput().comingSoonTitle}}
</div>
}
<h1 class="my-4 text-lightGray">{{gameInputs().name}}</h1>
}