<div class="flex flex-row gap-6 p-2 rounded-2xl w-full h-24 hover:bg-darkGray transition duration-300 cursor-pointer"
  activateWishlistDir (click)="onClickItemHandler(data().id)">
  <div class="relative">
    <!-- overwrite the icon position because of different image sizes -->
    <app-wish-list-icon class="wishlist top-1 right-1 scale-95" [isInWishlist]="isInWishlist()"
      [isWishlistProcessing]="isWishlistProcessing()" (clickButtonEvent)="onClickWishlistButtonHandler(data().id)" />
    <div class="w-16 h-full">
      <img class="item-cover rounded-md" ngSrc="{{ data().thumbnailCover }}" fill alt="{{ data().name }}" />
    </div>
  </div>
  <div class="flex flex-col justify-center gap-2">
    <h1>{{ data().name }}</h1>
    <div>
      @if (!data().isPublished && !data().publishDate) {
      <h2 class="text-lightDarkGray text-lg">
        {{ caption().comingSoonTitle }}
      </h2>
      } @else if (!data().isPublished && data().publishDate) {
      <h3 class="text-lightDarkGray">
        {{ caption().availableTitle }}
        {{ data().publishDate! | date: "MM/dd/yy" }}
      </h3>
      } @else {
      @if (data().isFree) {
      <div class="flex flex-col gap-4 text-white">
        <h4 class="text-xs">{{ caption().freeTitle }}</h4>
      </div>
      }
      @if (!data().isFree) {
      <div class="flex flex-col justify-start text-sm">
        <div class="flex flex-row gap-4 text-xs items-center">
          <app-price-label *ngIf="priceLabelData" [priceLabelInput]="priceLabelData" [sizeInput]="SizeEnum.SMALL" />
        </div>
      </div>
      }
      }
    </div>
  </div>
</div>