<div class="mt-24 lg:flex lg:justify-center">
    <app-large-highlight-game class="flex overflow-x-scroll" [gameInputs]="gameInputs().largeHighlightGames"
        [currentGameIndexInput]="largeHighlightIndex" [captionInput]="captionInputs()"
        [addIconInput]="'add_circle'" />

    <div class=" hidden flex-col justify-between items-center ml-7 h-128 lg:flex">
        @for (game of gameInputs().smallHighlightGames; track $index) {
        <app-small-highlight-game [gameImageInput]=" game.thumbnailCover" [gameNameInput]="game.name"
            [currentGameIndexInput]="$index" />
        }
    </div>
</div>

<!-- TODO: data from parent, logic in child -->