<div class="mt-24 lg:flex lg:justify-center lg:items-center lg:h-128 lg:gap-4">
    <app-large-highlight-game [gameInputs]="gameInputs().largeHighlightGames"
        [currentGameIndexInput]="largeHighlightIndex" [captionInput]="captionInputs()" [addIconInput]="'add_circle'" />

    <div class="flex overflow-x-scroll lg:hidden">
        <div class="flex gap-7 flex-shrink-0">
            @for (game of gameInputs().largeHighlightGames; track $index) {
            <app-large-highlight-game-mobile [gameInput]="game" [addIconInput]="'add_circle'" />
            }
        </div>
    </div>

    <div class="hidden flex-col justify-around items-center h-128 lg:flex">
        @for (game of gameInputs().smallHighlightGames; track $index) {
        <app-small-highlight-game [gameImageInput]=" game.thumbnailCover" [gameNameInput]="game.name"
            [currentGameIndexInput]="$index" />
        }
    </div>
</div>