<div class="flex flex-1 gap-x-4">
    @for (item of data(); track $index) {
    <div class="flex-1">
        @if (item | isHomeCardAction) {
        <app-home-card-action [data]="item" [isLoading]="isLoading()" (clickCardEvent)="onClickCardEventHandler()"
            (clickWishlistButtonEvent)="onClickWishlistButtonEventHandler($event)" />
        } @else {
        <app-home-card-game [data]="item" [isLoading]="isLoading()" (clickCardEvent)="onClickCardEventHandler()"
            (clickWishlistButtonEvent)="onClickWishlistButtonEventHandler($event)" />
        }
    </div>
    }
</div>