<div class="flex flex-col gap-4 md:flex-row">
    @for (item of data(); track $index) {
    <div class="flex-1">
        @if (item | isHomeCardAction) {
        <app-home-card-action [data]="item" [isLoading]="isLoading()"
            (clickWishlistButtonEvent)=" onClickWishlistButtonEventHandler($event)" />
        } @else {
        <app-home-card-game *ngIf="item.cardData.id" [data]="item" [isLoading]="isLoading()"
            [isInWishlist]="wishlistIds() | isInWishlist: item.cardData.id"
            [isWishlistProcessing]="isWishlistProcessing()" (clickCardEvent)="onClickCardEventHandler(item.cardData.id)"
            (clickWishlistButtonEvent)="onClickWishlistButtonEventHandler($event)" />
        }
    </div>
    }
</div>