<div class="flex justify-between overflow-scroll">
  @for (data of data(); track $index) {
    <app-category-list
      [data]="data"
      [caption]="categoryListCaption()"
      [itemCaption]="categoryItemCaption()"
      [isLoading]="isLoading()"
      (clickGameEvent)="onClickGameEventHandler($event)"
      (clickViewMoreButtonEvent)="onClickViewMoreButtonEventHandler($event)"
      (clickWishlistEvent)="onClickWishlistEventHandler($event)"
    />
    @if ($index < 2) {
      <mat-divider vertical/>
    }
  }
</div>

