.container {
    button {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.5px;
        border-radius: 4px;
        line-height: 15px;
        padding: 0px 20px;
        color: white;
    }
}