<section class="container flex justify-between items-center text-white mb-2">
    @if (isTitleClickable()) {
    <div class="flex cursor-pointer" textHoverIndicatorDir (click)="onClickTitleEventHandler()">
        <h1>{{ titleCaption() }}</h1>
        <mat-icon class="icon-display">chevron_right</mat-icon>
    </div>
    } @else {
    <h2>{{ titleCaption() }}</h2>
    }
    <div>
        <button class="prev-btn" mat-mini-fab>
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
        <button class="next-btn" mat-mini-fab>
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
</section>
<swiper-container #swiper init="false">
    @for (item of gameCardInputs(); track $index) {
    <swiper-slide>
        <app-game-slider-item [data]="item" [caption]="caption()" [isLoading]="isLoading()"
            [wishlistIds]="wishlistIds()" [isWishlistProcessing]="isWishlistProcessing()"
            (clickWishlistButtonEvent)="onClickWishlistButtonEventHandler($event)"
            (clickItemEvent)="onClickItemEventHandler($event)" />
    </swiper-slide>
    }
</swiper-container>