<section class="hidden lg:flex">
    <div class="lg:relative">
        <div class="w-256 h-40 object-cover">
            <app-image [imageUrlInput]="gameInputs()[currentGameIndexInput()].cover" />
        </div>
        <div class="absolute top-32 left-9 w-52 h-32">
            <app-image [imageUrlInput]="gameInputs()[currentGameIndexInput()].logo" />
        </div>
        <h1 class="absolute bottom-44 left-9 text-white">{{gameInputs()[currentGameIndexInput()].bio}}</h1>
        <div class="absolute bottom-5 left-9 flex items-center gap-6 mb-7">
            <button class="buy-btn" mat-raised-button>{{captionInput().buyButton}}</button>
            <button class="" mat-button>
                <mat-icon>{{addIconInput()}}</mat-icon>
                {{captionInput().AddToWishlistButton}}
            </button>
        </div>
    </div>
</section>

@for (game of gameInputs(); track $index) {
<app-large-highlight-game-mobile [gameInput]="game" [addIconInput]="addIconInput()" />
}