.relative {
    .buy-btn {
        background-color: white;
        color: black;
        min-width: 150px;
        min-height: 50px;
        font-size: 12px;
    }

    .add-to-wishlist-btn {
        min-width: 150px;
        min-height: 50px;
        font-size: 12px;
    }
}