<section class="container text-white">
  <div class="flex justify-between items-center gap-2 w-full mb-3">
    <h1 class="text-xl">{{ data().title }}</h1>
    <button (click)="onClickViewMoreButtonEventHandler(data().categoryType)" mat-stroked-button> {{ caption().viewTitle
      | uppercase }}
    </button>
  </div>
  <div class="flex flex-col gap-y-1">
    @for (item of data().categoryItem | slice: 0 : maxNumberItemIndex; track $index) {
    <app-category-item [data]="item" [caption]="itemCaption()" [isInWishlist]="wishlistIds() | isInWishlist: item.id"
      [isWishlistProcessing]="isWishlistProcessing()" (clickWishlistButtonEvent)="onClickWishlistEventHandler($event)"
      (clickItemEvent)="onClickGameEventHandler($event)" />
    }
  </div>
</section>