<button class="wishlist-btn" *ngIf="wishlistToolTipText" (click)="onClickWishlistHandler(itemId())" mat-button
  [matTooltip]="isItemInWishlist() ? wishlistToolTipText : ''" matTooltipPosition="below">
  @if (isItemInWishlist()) {
  <span>
    <mat-icon>
      check_circle
    </mat-icon>
    {{caption().inTitle | uppercase}}
  </span>
  } @else {
  <span>
    <mat-icon [class.rotate-animation]="isAddingToWishlistInProgress">
      add_circle
    </mat-icon>
    {{caption().addTitle | uppercase}}
  </span>
  }
</button>