<section class="font-inter">
    <!-- not enough info to handle article due to changes in the website! -->
    @if (buttonTypeEnumInput() === buttonTypeEnum.FREE) {
    <button class="buy-btn" mat-raised-button>Play for free</button>
    }
    @else if (buttonTypeEnumInput() === buttonTypeEnum.NOT_PUBLISHED) {
    <button class="buy-btn" mat-raised-button>Wishlist now</button>
    }
    @else if (buttonTypeEnumInput() === buttonTypeEnum.ARTICLE) {
    <button class="buy-btn" mat-raised-button>Wishlist now</button>
    }
    @else if (buttonTypeEnumInput() === buttonTypeEnum.FREE) {
    <button class="buy-btn" mat-raised-button>play for free</button>
    }
    @else if (buttonTypeEnumInput() === buttonTypeEnum.PUBLISHED) {
    <button class="buy-btn" mat-raised-button>Buy now</button>
    }
</section>