<mat-card>
    <div class="flex flex-row flex-wrap gap-6 mt-20 mx-16">
        @for (gameCard of gameCardInputs(); track $index) {
        <div>
            <img class="rounded-md" ngSrc="{{gameCard.cover}}" width="232" height="320" alt="{{gameCard.name}}">
            <h1 class="text-xs font-thin my-1">{{gameCard.type}}</h1>
            <h2>{{gameCard.name}}</h2>
            <div class="flex flex-row gap-5 items-center text-sm mt-2">
                @if (gameCard.discountPercent) {
                <div class="bg-brightBlue text-white p-1 rounded-sm">
                    <h3 class="font-light">{{-(gameCard.discountPercent / 100) | percent }}</h3>
                </div>
                }
                <h4 class="line-through">{{gameCard.basePrice | currency: 'USD' : 'symbol' : '1.0-0'}}</h4>
                <h5>{{gameCard.finalPrice | currency: 'USD' : 'symbol' : '1.0-0'}}</h5>
            </div>
        </div>
        }
    </div>
</mat-card>