<div class="text-white">
    <div class="relative">
        <img class="rounded-md w-full hover:brightness-125 transition duration-300 cursor-pointer lg:w-52"
            ngSrc="{{gameCardInputs().cover}}" width="100" height="100" alt="{{gameCardInputs().name}}">
        <div class="absolute top-2 right-3 opacity-0 hover:opacity-100 transition duration-300">
            <mat-icon>{{ iconInput() }}</mat-icon>
        </div>
    </div>

    <h1 class="font-thin my-1 text-[9px] text-lightGray tracking-widest">{{gameCardInputs().type | uppercase}}</h1>
    <h2>{{gameCardInputs().name}}</h2>
    <div class="flex flex-row gap-5 items-center text-sm mt-2">
        <app-price-label-management class="w-full" *ngIf="priceLabel" [priceLabelInput]="priceLabel" />
    </div>
</div>