@if (isLoading) {
  <div class="loading-transition" [@fadeInOut]="isLoading ? 'loading' : 'loaded'">
    <div class="animate-pulse flex flex-row gap-6 p-2 rounded-2xl w-80 h-24 bg-darkGray">
      <div class="flex bg-darkSilver w-16 h-full rounded-2xl"></div>
      <div class="flex-1 flex flex-col justify-center gap-4 w-1/2 h-2 rounded-2xl">
        <div class="bg-darkSilver"></div>
        <div class="bg-darkCharcoal"></div>
      </div>
    </div>
  </div>
} @else {
  <div class="flex flex-row gap-6 p-2 rounded-2xl w-80 h-24 hover:bg-darkGray transition duration-300 cursor-pointer"
       activateWishlistDir (click)="onClickItemHandler(gameInput().id)">
    <div class="relative">
      <div class="absolute top-1 right-1 text-black z-10">
        <app-wish-list-button class="wishlist" (click)="onClickWishlistButtonHandler($event, gameInput().id)"/>
      </div>
      <div class="w-16 h-full">
        <img class="rounded-md" ngSrc="{{gameInput().thumbnailCover}}" fill alt="{{gameInput().name}}">
      </div>
    </div>
    <div class="flex flex-col justify-center gap-2">
      <h1>{{ gameInput().name }}</h1>
      <div>
        @if (!gameInput().isPublished && !gameInput().publishDate) {
          <h2 class="text-lightDarkGray text-lg">{{ captionInput().comingSoonTitle }}</h2>
        } @else if (!gameInput().isPublished && gameInput().publishDate) {
          <h3 class="text-lightDarkGray">
            {{ captionInput().availableTitle }}
            {{ gameInput().publishDate! | date: 'MM/dd/yy' }}
          </h3>

        } @else {
          @if (gameInput().isFree) {
            <div class="flex flex-col gap-4 text-white">
              <h4 class="text-xs">{{ captionInput().freeTitle }}</h4>
            </div>
          }
          @if (!gameInput().isFree) {
            <div class="flex flex-col justify-start text-sm">
              <div class="flex flex-row gap-4 text-xs items-center">
                <app-price-label *ngIf="priceLabelData" [priceLabelInput]="priceLabelData"
                                 [sizeInput]="SizeEnum.Small"/>
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
}




<!--<div class="grid grid-cols-3 w-full text-white">-->
<!--  @for (title of gameListInput().title; track $index) {-->
<!--    <div class="flex justify-between items-center w-80 mb-3">-->
<!--      <h1>{{ title }}</h1>-->
<!--      <div>-->
<!--        @if ($index === 0) {-->
<!--          <button mat-stroked-button-->
<!--                  (click)="onClickViewMoreButtonEventHandler(CategoryType.TOP_SELLERS)">VIEW MORE-->
<!--          </button>-->
<!--        } @else if ($index === 1) {-->
<!--          <button mat-stroked-button-->
<!--                  (click)="onClickViewMoreButtonEventHandler(CategoryType.MOST_PLAYED)">VIEW MORE-->
<!--          </button>-->
<!--        } @else if ($index === 2) {-->
<!--          <button mat-stroked-button-->
<!--                  (click)="onClickViewMoreButtonEventHandler(CategoryType.TOP_UPCOMING_WISHLISTED)">VIEW MORE-->
<!--          </button>-->
<!--        }-->
<!--      </div>-->
<!--    </div>-->
<!--  }-->
<!--  <div class="grid grid-cols-3 gap-y-1 text-white bg-red-700">-->
<!--    @for (data of gameListInput().categoryItemData; track $index) {-->
<!--      @if (childCaption) {-->
<!--        <app-game-item-list [gameInput]="data" [captionInput]="childCaption"-->
<!--                            (clickWishlistButtonEvent)="onClickWishlistEventHandler($event)"-->
<!--                            (clickItemEvent)="onClickGameEventHandler($event)"/>-->
<!--      }-->
<!--    }-->
<!--  </div>-->
<!--</div>-->


<!--<div class="flex flex-col justify-start text-white">-->
<!--  <div class="flex justify-between items-center w-full">-->
<!--    @for (title of gameListInput().title; track $index) {-->
<!--      <h1>{{ title }}</h1>-->
<!--      <button mat-stroked-button>VIEW MORE</button>-->
<!--      <div class="top-0 right-0 p-2 w-1 h-96 bg-darkGray"></div>-->
<!--    }-->
<!--  </div>-->
<!--  <div class="flex flex-col gap-2 my-1">-->
<!--    @for (data of gameListInput().categoryItemData; track $index) {-->
<!--      @if (childCaption) {-->
<!--        <app-game-item-list [gameInput]="data" [captionInput]="childCaption"-->
<!--                            (clickWishlistButtonEvent)="onClickWishlistEventHandler($event)"-->
<!--                            (clickItemEvent)="onClickGameEventHandler($event)"/>-->
<!--      }-->
<!--    }-->
<!--  </div>-->
<!--</div>-->


