<div class="flex  w-full text-white">
  <div class="flex justify-between items-center w-80 mb-3">
    <h1>{{ gameListInput().title }}</h1>
    <button (click)="onClickViewMoreButtonEventHandler(CategoryType.TOP_SELLERS)"
            mat-stroked-button> {{ viewMoreCaption | uppercase }}
    </button>
  </div>
</div>
<div class="flex flex-col gap-y-1 text-white">
  @for (data of gameListInput().categoryItemData; track $index) {
    @if (childCaption) {
      <app-game-item-list [gameInput]="data" [captionInput]="childCaption"
                          (clickWishlistButtonEvent)="onClickWishlistEventHandler($event)"
                          (clickItemEvent)="onClickGameEventHandler($event)"/>
    }
  }
</div>
