<!-- Angular passes Mouse Event type automatically to $event and we can call methods on $event! -->
<button class="wishlist-btn" [matTooltip]="caption().removeTitle" matTooltipPosition="below"
    (click)="onClickWishlistButtonEventHandler(); $event.stopImmediatePropagation()" mat-button>
    <span>
        @if (isInWishlist()) {
        <mat-icon>
            check_circle
        </mat-icon>
        } @else {
        <mat-icon [class.rotate-animation]="isWishlistProcessing()">
            add_circle
        </mat-icon>
        }
        {{ (isInWishlist() ? caption().inTitle : caption().addTitle) | uppercase }}
    </span>
</button>