<!-- Angular passes Mouse Event type automatically to $event and we can call methods on $event! -->
<button class="wishlist-btn" [matTooltip]="caption().removeTitle" matTooltipPosition="below"
    (click)="onClickWishlistButtonEventHandler(itemId()); $event.stopImmediatePropagation()" mat-button>
    <span>
        @if (wishlistListIds().length && wishlistListIds().includes(itemId())) {
        <mat-icon>
            check_circle
        </mat-icon>
        } @else {
        <mat-icon [class.rotate-animation]="isWishlistProcessing()">
            add_circle
        </mat-icon>
        }
        {{ (wishlistListIds().length && wishlistListIds().includes(itemId()) ? caption().inTitle :
        caption().addTitle) | uppercase }}
    </span>
</button>