<div class="flex flex-col items-center gap-y-11">
    <section class="flex gap-x-4 grid-cols-2">
        <div class="animate-pulse bg-darkCharcoal h-[36rem] w-[30rem] lg:w-[40rem] rounded-2xl"></div>

        <div class="hidden md:animate-pulse md:flex md:flex-col md:justify-between">
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkCharcoal"></div>
                <div class="bg-darkCharcoal w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkCharcoal"></div>
                <div class="bg-darkCharcoal w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkCharcoal"></div>
                <div class="bg-darkCharcoal w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkCharcoal"></div>
                <div class="bg-darkCharcoal w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkCharcoal"></div>
                <div class="bg-darkCharcoal w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkCharcoal"></div>
                <div class="bg-darkCharcoal w-3/4 h-2 rounded-md"></div>
            </div>
        </div>
    </section>

    <section class="flex gap-2 w-full animate-pulse">
        <div>
            <div class="bg-darkCharcoal w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkCharcoal w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkCharcoal w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkCharcoal w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkCharcoal w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
    </section>

    <section class="flex gap-x-8 animate-pulse">
        <div class="flex flex-col gap-y-4 h-full">
            <div class="bg-darkCharcoal flex-1 w-full rounded-xl aspect-video mb-2 min-w-80"></div>
            <div class="flex flex-col gap-y-2">
                <div class="bg-darkCharcoal h-3 w-3/4 rounded-sm"></div>
                <div class="bg-darkCharcoal h-3 rounded-sm"></div>
                <div class="bg-darkCharcoal h-8 w-3/5 rounded-sm"></div>
            </div>
        </div>
        <div class="flex flex-col gap-y-4 h-full">
            <div class="bg-darkCharcoal flex-1 w-full rounded-xl aspect-video mb-2 min-w-80"></div>
            <div class="flex flex-col gap-y-2">
                <div class="bg-darkCharcoal h-3 w-3/4 rounded-sm"></div>
                <div class="bg-darkCharcoal h-3 rounded-sm"></div>
                <div class="bg-darkCharcoal h-8 w-3/5 rounded-sm"></div>
            </div>
        </div>
        <div class="flex flex-col gap-y-4 h-full">
            <div class="bg-darkCharcoal flex-1 w-full rounded-xl aspect-video mb-2 min-w-80"></div>
            <div class="flex flex-col gap-y-2">
                <div class="bg-darkCharcoal h-3 w-3/4 rounded-sm"></div>
                <div class="bg-darkCharcoal h-3 rounded-sm"></div>
                <div class="bg-darkCharcoal h-8 w-3/5 rounded-sm"></div>
            </div>
        </div>
    </section>

    <section class="animate-pulse flex gap-x-4">
        <div>
            <div class="rounded-md min-w-72 h-96 bg-darkCharcoal"></div>
            <div class="flex flex-col gap-2 mt-6">
                <div class="bg-darkCharcoal w-4/5 h-2 rounded-md"></div>
                <div class="bg-darkCharcoal w-1/2 h-2 rounded-md"></div>
            </div>
        </div>
        <div>
            <div class="rounded-md min-w-72 h-96 bg-darkCharcoal"></div>
            <div class="flex flex-col gap-2 mt-6">
                <div class="bg-darkCharcoal w-4/5 h-2 rounded-md"></div>
                <div class="bg-darkCharcoal w-1/2 h-2 rounded-md"></div>
            </div>
        </div>
        <div>
            <div class="rounded-md min-w-72 h-96 bg-darkCharcoal"></div>
            <div class="flex flex-col gap-2 mt-6">
                <div class="bg-darkCharcoal w-4/5 h-2 rounded-md"></div>
                <div class="bg-darkCharcoal w-1/2 h-2 rounded-md"></div>
            </div>
        </div>
    </section>

    <section class="flex flex-col gap-y-2 w-full">
        <div class="flex gap-x-4">
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-x-4">
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-x-4">
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-x-4">
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex gap-x-4">
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
            <div class="p-2 rounded-2xl h-24 w-full bg-darkCharcoal">
                <div class="animate-pulse flex items-center gap-4 h-full">
                    <div class="h-full w-1/3 bg-darkSilver rounded-2xl"></div>
                    <div class="flex flex-col gap-8 w-full ml-2">
                        <div class="w-1/2 h-2 bg-darkSilver"></div>
                        <div class="w-1/4 h-2 bg-darkSilver"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>