<div class="flex flex-col items-center gap-y-11">
    <section class="flex gap-x-4 grid-cols-2">
        <div class="animate-pulse bg-darkCharcoal h-[36rem] w-[30rem] lg:w-[40rem] rounded-2xl"></div>

        <div class="hidden md:animate-pulse md:flex md:flex-col md:justify-between">
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
                <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
                <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
                <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
                <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
                <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
            </div>
            <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
                <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
                <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
            </div>
        </div>
    </section>

    <section class="flex gap-2 w-full animate-pulse">
        <div>
            <div class="bg-darkGray w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkGray w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkGray w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkGray w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
        <div>
            <div class="bg-darkGray w-52 h-64 mb-2 rounded-md"></div>
            <div class="flex flex-col gap-1">
                <div class="bg-darkSilver w-16 h-3"></div>
                <div class="bg-darkSilver w-28 h-3"></div>
                <div class="bg-darkSilver w-full h-3 mt-1"></div>
            </div>
        </div>
    </section>

    <section class="flex gap-x-8 animate-pulse">
        <div class="flex flex-col gap-y-4 h-full">
            <div class="bg-darkGray flex-1 w-full rounded-xl aspect-video mb-2 min-w-80"></div>
            <div class="flex flex-col gap-y-2">
                <div class="bg-darkCharcoal h-3 w-3/4 rounded-sm"></div>
                <div class="bg-darkCharcoal h-3 rounded-sm"></div>
                <div class="bg-darkCharcoal h-8 w-3/5 rounded-sm"></div>
            </div>
        </div>
        <div class="flex flex-col gap-y-4 h-full">
            <div class="bg-darkGray flex-1 w-full rounded-xl aspect-video mb-2 min-w-80"></div>
            <div class="flex flex-col gap-y-2">
                <div class="bg-darkCharcoal h-3 w-3/4 rounded-sm"></div>
                <div class="bg-darkCharcoal h-3 rounded-sm"></div>
                <div class="bg-darkCharcoal h-8 w-3/5 rounded-sm"></div>
            </div>
        </div>
        <div class="flex flex-col gap-y-4 h-full">
            <div class="bg-darkGray flex-1 w-full rounded-xl aspect-video mb-2 min-w-80"></div>
            <div class="flex flex-col gap-y-2">
                <div class="bg-darkCharcoal h-3 w-3/4 rounded-sm"></div>
                <div class="bg-darkCharcoal h-3 rounded-sm"></div>
                <div class="bg-darkCharcoal h-8 w-3/5 rounded-sm"></div>
            </div>
        </div>
    </section>

</div>