<section class="flex gap-x-4 grid-cols-2">
    <div class="animate-pulse bg-darkCharcoal h-[36rem] w-[30rem] lg:w-[40rem] rounded-2xl"></div>

    <div class="hidden md:animate-pulse md:flex md:flex-col md:justify-between">
        <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
            <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
            <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
        </div>
        <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
            <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
            <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
        </div>
        <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
            <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
            <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
        </div>
        <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
            <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
            <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
        </div>
        <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
            <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
            <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
        </div>
        <div class="flex gap-x-4 px-4 py-4 rounded-xl items-center bg-darkCharcoal">
            <div class="rounded-xl w-[85px] h-[60px] bg-darkGray"></div>
            <div class="bg-darkGray w-3/4 h-2 rounded-md"></div>
        </div>
    </div>
</section>